<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    
    <h1><%= @student.to_s %></h1>

      <div>Student First Name:
        <%= @student.first_name %></div><br>

      <div>Student Last Name:
        <%= @student.last_name %></div>

  </body>
</html>
